
/* header area display  */
    .jumbotron-fluid{
        padding-bottom: 6px;padding-top: 6px;background-color: #1d2124;}
    .display-4{
        text-align: center;color: white;}
/* Aside column area */
.row{margin-left: -12px; height: 226px;}
.col-sm-4{
    float: left; max-width: 246.56; }
h1{font-size: 1.5rem;}

/*  MAIN Content */
.col-sm-8{float: right;margin-left: 55px;}

/*  */
.card{margin-top: 10px;}
.card-body{padding: 0.25rem;}